.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.single-products {
  padding: 20px;
  box-shadow: 4px 4px 10px #cfcfcf;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 20px;
  width: 84%;
}

.imagesBox {
  display: flex;
  flex-wrap: wrap;
}

.sumBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-top: 14px;
}

.sumBox-title {
  color: #fff;
  font-size: 24px;
  background-color: #777777;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
}

.sumBox-sum {
  color: #fff;
  font-size: 24px;
  padding: 5px;
  border-radius: 5px;
  background-color: #777777;
  font-weight: bold;
}

.sinleProductsBox {
  display: flex;
  justify-content: center;

  width: 70%;
  margin-top: 20px;
}

.sinleProductsBox-left {
  display: flex;
  text-align: start;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 1px 1px 4px #cacaca;
  background-color: #fff;
  padding: 0px 0px 10px 0px;
  border-radius: 20px;
}

.opitsaneBox {
  box-shadow: 4px 4px 10px #cacaca;
  border-radius: 20px;
  padding: 10px;
  width: 100%;
}

.opisaneBox-heading {
  font-size: 20px;
}

.opitsane-description {
  padding: 10px;
}

.opitsane-desc {
  font-size: 16px;
}

.buttonBox {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.singliBtnLink {
  text-decoration: none;
}

.button {
  margin: 0;
  padding: 15px;
  width: 240px;
  height: 55px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  background-color: black;
  font-size: 20px;
  cursor: pointer;
}

.button:nth-child(2) {
  margin-top: 20px;
}

.button .bi-cart3 {
  font-size: 18px;
  margin-right: 4px;
}

.singleHeartBox {
  text-align: center;
  width: 40px;
  height: 40px;
}

.heartBtn {
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  width: 100%;
}

.heartBtn img {
  width: 100%;
}
