.service {
  margin: 0;
  padding-top: 30px;
}

.service-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  list-style: none;
}

.service-item {
  margin-top: 30px;
  padding: 10px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 4px 4px 14px;
}

.service-heading {
  font-size: 18px;
  color: rgb(91, 91, 91);
  text-align: start;
}

.service-desc {
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  color: rgb(60, 60, 60);
  text-align: start;
}
