.headers {
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 15px 30px;
  z-index: 999;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left .header-link img {
  object-fit: cover;
}

.header-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.header-item .header-item-link {
  margin-left: 13px;
  text-decoration: none;
  position: relative;
}

.header-item .header-item-link .heart-icons {
  width: 26px;
}

.header-item .header-item-link .header-span {
  position: absolute;
  top: -20px;
  right: 0px;
  font-size: 13px;
  padding: 0px 2px;
  background-color: blue;
  border-radius: 50px;
  margin: 0;
  color: #fff;
}
